@model RecipeForum.ViewModels.FocusRecipeViewModel; 

@{
    ViewBag.Title = "Focus Recipe";
}
<div class="card">
    <h2>@Model.Name</h2>
    <h2>@Model.PrepTime</h2>
    <h2>@Model.CookingTime</h2>

</divw>
