@using RecipeForum.ViewModels
@model CreateRecipeViewModel
@{
    ViewData["Title"] = "Recipe Creation";
}
<header><h1>Recipe Creation</h1>
    <h2>Create ingredients first!</h2></header>
    <form asp-controller="Recipes" asp-action="CreateRecipe">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <label for="recipeName">Name</label>
    <input asp-for="Name"  type="text" id="recipeName" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <br />
        
        <select asp-for="Category" id="category">
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
        </select>
        <br/>

        <label for="prepTime">Prep Time min.</label>
        <input asp-for="PrepTime" type="number" id="prepTime"/>
    <span asp-validation-for="PrepTime" class="text-danger"></span>
        <br />

       <label for="cookingTime">Cooking Time min.</label>
    <input asp-for="CookingTime" type="number" id="cookingTime" />
    <span asp-validation-for="CookingTime" class="text-danger"></span>
        <br />

    <label for="ingredients">List ingredients:</label>
    <input asp-for="Ingredients" type="text" id="ingredients" />
    <span asp-validation-for="Ingredients" class="text-danger"></span>
        <br />

        <label for="description">Instructions</label>
    <input asp-for="Description"  type="text" id="description" />
    <span asp-validation-for="Description" class="text-danger"></span>
        <br />

        <input type="submit" value="Submit"/>
    </form>
    @section Scripts{
       <partial name="_ValidationScriptsPartial" />
    }



