
@{
    ViewData["Title"] = "RecipeCreation";
}
<header><h1>Recipe Creation</h1></header>
<body>
  
    <form>
        <label for="recipeName">Name</label>
        <input type="text"  id="recipeName"/>
        <br />

        <input type="checkbox" id="breakfast" value="Breakfast" />
        <label for="breakfast">Breakfast</label>
        <br />

        <input type="checkbox" id="lunch" value="Lunch" />
        <label for="lunch">Lunch</label>
        <br />

        <input type="checkbox" id="dinner" value="Dinner" />
        <label for="dinner">Dinner</label>
        <br />

        <label for="prepTime">Prep Time</label>
        <input type="number" id="prepTime"/>
        <br />

       <label for="cookingTime">Cooking Time</label>
        <input type="number" id="cookingTime" />
        <br />

        <label for="ingredients">Ingredient List</label>
        <input type="text" id="ingredients" />
        <br />

        <label for="description">Instructions</label>
        <input type="text" id="description" />
        <br />

        <input type="submit" value="Submit"/>
    </form>
    
</body>


