
@{
    ViewData["Title"] = "GreatSucces";
}

<h2>Succes, congratulations you have created a recipe!</h2>
<h4>Thank you for uploading a recipe to our site and participating in the community :). Check your account tab to see if the recipe has been
added succesfully. You can delete it anytime you want or leave it for the hungry people here.
</h4>
