
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <center>
        <header><h2>The exact place for all your dietary needs</h2></header>
        <hr />

        <div class="fs-3">
            <p>
                Here in the RecipeForum
                <br />
                you will find al the recipes you could ever want.
                <br />
                Breakfast, we have you covered. Lucnh, you know who to call. Dinner, guess what.
                <br />
                Whether you want to lose or gain weight we have just the meal for you. This is a comunnity driven
                <br />
                forum so please keep civil
            </p>
        </div>
    </center>
</body>
