
@{
    ViewData["Title"] = "MakeAnAccount";
}

<h2>No account detected opinion rejected!</h2>
<h4>If you dont have an account go register and if you do log in untill then no account screen for you.</h4>

