
@{
    ViewData["Title"] = "NoBueno";
}

<h2>No Bueno, you can't delete this post!</h2>
<h4>Only the creator of the post can delete it either log in from the account you created the post in or stop trying if it's not yours.</h4>
